<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<div class="modal" id="confirmacaoExclusao" tabindex="-1" data-keyboard="false" data-backdrop="static">

	<div class="modal-dialog">
		<form th:attr="data-url-base='/titulos'" method="POST">
			<input type="hidden" name="_method" value="DELETE" />


			<div class="modal-content">

				<div class="modal-header">
					<h5 class="modal-title">Exclusão de títulos</h5>
				</div>

				<div class="modal-body">
					<span>Tem certeza que deseja apagar o título?</span>
				</div>

				<div class="modal-footer">
					<button type="submit" class="btn btn-primary">Excluir</button>
					<button type="button" class="btn btn-secondary"
						data-dismiss="modal">Fechar</button>
				</div>
			</div>
			</form>
	</div>
</div>
</html>